<template>
  <b-container class="mt-4">
    <b-form>
      <!-- Name -->
      <b-form-group label="Name: " label-for="contact-name">
        <b-input
          type="text"
          v-model="contact.name"
          placeholder="Enter your name"
          id="contact-name"
        ></b-input>
      </b-form-group>

      <!-- Phone numbers  -->
      <hr />
      <b-form-group label="Phone numbers:" label-for="new-phone-number">
        <b-input-group
          v-for="(phone_number, index) in contact.phone_numbers"
          :key="index"
          class="mb-2"
        >
          <b-form-input
            :id="'phone' + index"
            v-model="contact.phone_numbers[index]"
            type="number"
            required
          ></b-form-input>
          <b-input-group-append>
            <b-button variant="danger" @click="deletePhone(index)"
              ><b-icon-trash></b-icon-trash
            ></b-button>
          </b-input-group-append>
        </b-input-group>
        <!-- add new  phone number-->
        <b-form-input
          id="new-phone-number"
          type="number"
          placeholder="Add phone number"
          @blur="addPhone"
          v-model="newPhone"
        ></b-form-input>
      </b-form-group>

      <!-- Email Address -->
      <hr />
      <b-form-group label="Email addresses:" label-for="new-email">
        <b-input-group
          v-for="(email, index) in contact.emails"
          :key="index"
          class="mb-2"
        >
          <b-form-input
            :id="'phone-number' + index"
            v-model="contact.emails[index]"
            type="email"
            required
          ></b-form-input>
          <b-input-group-append>
            <b-button variant="danger" @click="deleteEmail(index)"
              ><b-icon-trash></b-icon-trash
            ></b-button>
          </b-input-group-append>
        </b-input-group>

        <!-- add new email -->
        <b-input
          id="new-email"
          type="email"
          placeholder="Add email address"
          @blur="addEmail"
          v-model="newEmail"
        ></b-input>
      </b-form-group>

      <!-- Addresses -->
      <hr />
      <b-form-group label="Addresses:" label-for="new-address">
        <b-input-group
          v-for="(address, index) in contact.addresses"
          :key="index"
          class="mb-2"
        >
          <b-form-input
            :id="'address' + index"
            v-model="contact.addresses[index]"
            type="text"
            required
          ></b-form-input>
          <b-input-group-append>
            <b-button variant="danger" @click="deleteAddress(index)">
              <b-icon-trash></b-icon-trash>
            </b-button>
          </b-input-group-append>
        </b-input-group>
        <!-- new address -->
        <b-input
          id="new-address"
          type="text"
          placeholder="Add email address"
          @blur="addAddress"
          v-model="newAddress"
        ></b-input>
      </b-form-group>

      <!-- Action buttons -->
      <b-input-group class="align-items-center">
        <b-button
          type="submit"
          variant="primary"
          class="mr-3"
          @click.prevent="saveContact"
        >
          Save
        </b-button>

        <b-button
          @click="$router.push('/')"
          class="ml-auto"
          variant="outline-dark"
        >
          <b-icon-caret-left></b-icon-caret-left> Go back</b-button
        >
      </b-input-group>
    </b-form>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      contact: {
        name: "",
        addresses: [],
        phone_numbers: [],
        emails: [],
      },
      newAddress: "",
      newPhone: "",
      newEmail: "",
    };
  },
  computed: {
    ...mapGetters({ id: "getNewId" }),
  },
  methods: {
    ...mapActions(["createContact"]),
    addPhone() {
      if (this.newPhone) {
        this.contact.phone_numbers.push(this.newPhone);
        this.newPhone = "";
      }
    },
    addEmail() {
      if (this.newEmail) {
        this.contact.emails.push(this.newEmail);
        this.newEmail = "";
      }
    },
    addAddress() {
      if (this.newAddress) {
        this.contact.addresses.push(this.newAddress);
        this.newAddress = "";
      }
    },
    saveContact() {
      // delete empty values (phone, email, address)
      this.contact.phone_numbers = this.contact.phone_numbers.filter(
        (phone) => phone !== ""
      );
      this.contact.emails = this.contact.emails.filter((email) => email !== "");
      this.contact.addresses = this.contact.addresses.filter(
        (address) => address !== ""
      );

      // prevent empty name from being saved
      if (this.contact.name) {
        this.contact["id"] = this.id;
        this.createContact(this.contact);
        this.$router.push({
          name: "Home",
          params: {
            status: "success",
            message: `${this.contact.name} saved successfully!`,
          },
        });
      } else {
        this.$bvToast.toast("Name field should not empty!", {
          title: "Form validation error!",
          autoHideDelay: 4000,
          appendToast: false,
          variant: "danger",
        });
      }
    },

    deletePhone(index) {
      this.contact.phone_numbers.splice(index, 1);
    },

    deleteAddress(index) {
      this.contact.addresses.splice(index, 1);
    },

    deleteEmail(index) {
      this.contact.emails.splice(index, 1);
    },
  },
};
</script>
