<template>
  <div class="home">
    <b-container class="search-block my-4">
      <b-input
        type="text"
        placeholder="Type to search"
        v-model="keyword"
      ></b-input>
    </b-container>
    <b-container class="results mb-4">
      <div class="d-flex justify-content-center">
        <b-button
          variant="primary"
          pill
          class="px-4 py-2 mb-4"
          to="/contact/add"
          ><b-icon-plus-circle></b-icon-plus-circle> Add new contact</b-button
        >
      </div>
      <b-list-group>
        <b-list-group-item
          class="d-flex justify-content-between align-items-center"
          v-for="contact in contacts"
          :key="contact.id"
        >
          <b-link :to="'/' + contact.id">{{ contact.name }}</b-link>
          <b-button
            variant="danger"
            size="sm"
            @click.prevent="deleteContact(contact)"
            ><b-icon-trash></b-icon-trash
          ></b-button>
        </b-list-group-item>
      </b-list-group>
    </b-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  data() {
    return {
      keyword: "",
    };
  },
  components: {},
  computed: {
    contacts() {
      return this.$store.getters["searchContacts"](this.keyword);
    },
  },
  methods: {
    ...mapActions(["destroyContact"]),
    deleteContact(contact) {
      this.destroyContact(contact);
      this.$bvToast.toast(`${contact.name} deleted successfully!`, {
        title: "Success!",
        autoHideDelay: 2000,
        appendToast: false,
        variant: "warning",
      });
    },
  },
  mounted() {
    if (this.$route.params.status === "success") {
      this.$bvToast.toast(this.$route.params.message, {
        title: "Success!",
        autoHideDelay: 2000,
        appendToast: false,
        variant: "success",
      });
    }
  },
};
</script>
